*{
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #222;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.section{
    height: auto;
    padding-top: 60px !important;
    padding-bottom: 50px !important;
}
h1{
    
    font-weight: 700;
    font-size: 70px;
    color: white;
    margin: 0;
    line-height: 85px;
}
p{
   color: white;
}
.w-100 {
    width: 100%!important;
}
img, svg {
    vertical-align: middle;
}
.avatar{
    height: 90% !important;
    width: 90% !important;
    padding: 20px 0 0 0 !important;
}
.social{
    font-size: 24px;
}
.custom-button {
    background-color: #f06d55;
    border: none;
    color: #fff;
    font-weight: 800;
    border-radius: 6px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .social{
        justify-content: center;
    }
    .section{
        height: auto;
        height: auto;
        padding-top: 10px !important;
        padding-bottom: 0 !important;
    }
    .avatar{
        margin-left: 16px;
        margin-bottom: 5px;
    }
    
}

@media screen and (max-width: 991px) {
    .social{
        justify-content: center;
    }
}