
#darkmode{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
  }
  
  #darkmode .dark {
    background-color: #000000;
  }
  #darkmode .checkbox {
    opacity: 0;
    position: relative;
  }
  
  #darkmode .label {
    width: 50px;
    height: 26px;
    background-color:rgba(93, 92, 92, 0.463);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
    border: 1px solid;
  }
  
  #darkmode .ball {
    width: 22px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  #darkmode .checkbox:checked + .label .ball{
    transform: translateX(-24px);
  }